/* base */

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
}

img {
  max-width: 100%;
  width: auto;
  height: auto;
  vertical-align: middle;
  border: 0;
}

input[type="text"] {
    font-size: inherit;
    color: #333;
}

/* module */

/* module */

.ui.person.list-item {
  border: 1px solid #ddd;
}




